/* Stylesheet for mp_stacks shortcode */
.mp-stack{
	padding:0px!important;
	margin:0px!important;
	position:relative;
}
.mp-brick {
	position:relative;
	width: 100%; 
	display:block;
	padding:0px;
	margin:0px;
	z-index:1;
	overflow:hidden;
	text-align:left;
}
.mp-brick .brick-anchor{
	position:absolute;
	display:block;
	top:0px;
	height:0px;
	width:0px;
}
.mp-brick .mp-brick-bg{
	position: absolute;
	top: 0px;
	left: 0px;
	background-position: 50%;
	width: 100%;
	height: 100%;
	z-index:-100;
}
.mp-brick .mp-brick-bg:after{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;	
	background-position: 50%;
	width: 100%;
	height: 100%;
}
.mp-brick .mp-brick-outer{
	display:block;
	width:100%;
	margin: 0px auto;
	z-index:1;	
}
.mp-brick .mp-brick-inner{
	position:relative;
	width: 100%; 
	display:table;
	padding:0px;
	margin:0px;
	vertical-align:middle;
}

/* Content Areas */
.mp-brick .mp-brick-content-type-container{
	display:table-cell; 
	vertical-align:middle;
	z-index:2;
	width: 50%; 
	text-align:center;
}
.mp-brick[max-width~='600px'] .mp-brick-content-type-container{
	display:table;
	width:100%!important;	
}
.mp-brick .mp-brick-content-type-container.mp-brick-centered{
	display:table;
	width:100%;	
}
.mp-brick .mp-brick-content-types{
	display:table-cell;
	vertical-align:middle;	
}
.mp-brick .mp-brick-content-types-inner{
	display: table;
	width: 100%;	
}
.mp-brick .mp-brick-content-type-container.mp-brick-allleft{
	display:block;
	float:left;
	clear:both;
}
.mp-brick .mp-brick-content-type-container.mp-brick-allright{
	display:block;
	float:right;
	clear:both;
}
.mp-brick .mp-brick-first-content-type, 
.mp-brick .mp-brick-second-content-type {
	display: inline-block; /* Added in Version 1.0.1.3 to cause these container divs to always wrap entirely around their contents - even if those contents are not set to be inline-block*/
	float:left; /* Added in Version 1.0.1.3 */
	vertical-align: text-bottom;
	position:relative;
	width:100%;
	z-index:2;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/*Text*/

.mp-stacks-text-areas{
	display:inline-block; /* Added in Version 1.0.1.3 to cause text site centered. It was sitting off to the left in a left/right alignment - which doesn't follow how other content types work */
}

/*Make sure there are no margins after the last elements in a text area */	
.mp-brick .mp-stacks-text-area:last-child .mp-brick-text:last-child a:last-child, 
.mp-brick .mp-stacks-text-area:last-child .mp-brick-text-line-1:last-child a:last-child, 
.mp-brick .mp-stacks-text-area:last-child .mp-brick-text-line-2 a:last-child,
.mp-brick .mp-stacks-text-area:last-child .mp-brick-text:last-child p:last-child, 
.mp-brick .mp-stacks-text-area:last-child .mp-brick-text-line-1:last-child p:last-child, 
.mp-brick .mp-stacks-text-area:last-child .mp-brick-text-line-2 p:last-child{
	margin-bottom:0px!important;
	margin-bottom:0rem!important;
}
.mp-brick .mp-brick-text, 
.mp-brick .mp-brick-text-line-1, 
.mp-brick .mp-brick-text-line-2,
.mp-brick .mp-brick-text:last-child p:last-child,
.mp-brick .mp-brick-text-line-1:last-child p:last-child,
.mp-brick .mp-brick-text-line-2 p:last-child{	
	line-height:1.4;
	word-wrap: normal;
	text-align:left;
}

.mp-brick .mp-brick-content-type-container.mp-brick-centered .mp-brick-text, 
.mp-brick .mp-brick-content-type-container.mp-brick-centered .mp-brick-text-line-1, 
.mp-brick .mp-brick-content-type-container.mp-brick-centered .mp-brick-text-line-2,
.mp-brick .mp-brick-content-type-container.mp-brick-centered .mp-brick-text p,
.mp-brick .mp-brick-content-type-container.mp-brick-centered .mp-brick-text-line-1 p,
.mp-brick .mp-brick-content-type-container.mp-brick-centered .mp-brick-text-line-2 p,
.mp-brick[max-width~='600px'] .mp-brick-content-type-container .mp-brick-text, 
.mp-brick[max-width~='600px'] .mp-brick-content-type-container .mp-brick-text-line-1, 
.mp-brick[max-width~='600px'] .mp-brick-content-type-container .mp-brick-text-line-2,
.mp-brick[max-width~='600px'] .mp-brick-content-type-container .mp-brick-text p,
.mp-brick[max-width~='600px'] .mp-brick-content-type-container .mp-brick-text-line-1 p,
.mp-brick[max-width~='600px'] .mp-brick-content-type-container .mp-brick-text-line-2 p
{
	text-align:center;
}
.mp-brick .mp-brick-content-type-container iframe{
	margin:0;
}
.mp-brick .mp-brick-left .text{
	text-align: -webkit-auto;
	display: inline-block;
}
.mp-brick .mp-brick-right .text{
	text-align: -webkit-auto;
	display: inline-block;
}

/* Buttons in text areas */
.mp-brick-text-line-1 p .button,
.mp-brick-text-line-2 p .button,
.mp-brick-text p .button{
	margin-left:10px;
}
.mp-brick-text-line-1 p .button:first-child,
.mp-brick-text-line-2 p .button:first-child,
.mp-brick-text p .button:first-child{
	margin-left:0px;
}
.mp-brick[max-width~='600px'] .mp-brick-content-type-container .mp-brick-text p .button{
	margin-left:0px;
	margin-bottom:10px;
}
.mp-brick[max-width~='600px'] .mp-brick-content-type-container .mp-brick-text p .button:last-child{
	margin-bottom:0;
}

/* Links */
.mp_brick a,
.mp_brick a:hover{
	display:inline-block;
	text-decoration:none;	
}

/*Image*/
.mp-brick .mp-brick-main-image{
	vertical-align: middle;
	box-shadow:none;
	border-radius:0;
	width:100%;
	max-width:100%;
	margin:0px;
	box-sizing:border-box;
}
.mp-brick .mp-brick-main-link{
	display:inline-block;
	width:100%;	
}

/*Brick Meta*/
.mp-brick .mp-brick-meta{
	opacity:0;
	background:none;
	
	-webkit-transition: opacity .4s ease-in-out, width .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out, width .4s ease-in-out;
	-ms-transition: opacity .4s ease-in-out, width .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out, width .4s ease-in-out;
	transition: opacity .4s ease-in-out, width .4s ease-in-out;
}
.mp-brick:hover .mp-brick-meta{
	opacity:1;
}
.mp-brick .mp-brick-title-container{
	position:absolute;
	top:0px;
	text-align:center;
	width:100%;
	z-index:9999999;
}
.mp-brick .mp-brick-title-container .mp-brick-title{
	position:relative!important;
	display:inline-block;
	font-size:10px!important;
	line-height:10px!important;
	vertical-align:top
}
.mp-brick .mp-brick-title,
.mp-brick .mp-brick-edit-link,
.mp-brick .mp-brick-add-before-link,
.mp-brick .mp-brick-add-after-link,
.mp-brick .mp-brick-reorder-bricks{
	background-color:#333!important;
	color:#FFFFFF!important;
	padding:5px 3px!important;
	position:absolute;
	z-index:99999999;
	text-decoration:none;
	border: 1px solid #fff!important;
	font-size:16px!important;
	line-height:16px!important;
	
	-webkit-transition: width .4s ease-in-out, width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out, width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out, width .4s ease-in-out;
	-o-transition: width .4s ease-in-out, width .4s ease-in-out;
	transition: width .4s ease-in-out, width .4s ease-in-out;
}
.mp-brick .mp-brick-title,
.mp-brick .mp-brick-edit-link{
	top:0px;	
}
.mp-brick .mp-brick-add-before-link{
	top:0px;
	right:0px;
	width:45px;	
	overflow:hidden;
	white-space:nowrap;
}
.mp-brick .mp-brick-add-before-link:hover{
	width:140px;
}
.mp-brick .mp-brick-add-after-link{
	right:0px;
	bottom:0px;
	width:45px;	
	overflow:hidden;
	white-space:nowrap;
}
.mp-brick .mp-brick-add-after-link:hover{
	width:130px;	
}
.mp-brick .mp-brick-reorder-bricks{
	bottom:0px;
	left:0px;	
}
.mp-brick .mp-stack-updating{
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 99999999999999;	
	color:#FFF;
}
.mp-stacks-updating-message{
	margin-bottom:40px;	
}

/*No Brick*/
.no-brick .mp-brick-inner{
	min-height:250px;	
	background-color:#FF9DA0;
	color:#fff;
}
.no-brick .mp-brick-inner a{
	color:#fff;	
}

/*magnific popup css*/
.mfp-wrap .mfp-iframe-holder .mfp-video{
	max-width: 640px;
	max-height: 390px;
}

/* Clear Fix */
.mp-stacks-clearedfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/*Easy Digital Downloads Shortcode buy buttons in bricks */
.mp-brick .edd_price_options ul{
	list-style:none;
}

/* MP Stacks Default Page Template */
.mp-stacks-default-page-template,
.mp-stacks-default-page-template .entry-content{
	width:100%!important;	
	max-width:100%!important;
	z-index: 3;
	position: relative;
}

/* Grid Styles */
.mp-stacks-grid,
.mp-stacks-grid .mp-stacks-grid-item a{
	display:block;
}
.mp-brick[max-width~='600px'] .mp-stacks-grid{ 
	margin: 0px;	
}
.mp-stacks-grid-item{
	position:relative;
	overflow:hidden;
	display:inline-block;
	text-align:left;
	float:left;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.mp-stacks-grid-image-link{
	display:inline-block;
	width:100%;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.mp-stacks-grid-item-image-holder{
	position:relative;
	display:table;	
	width:101%;
	overflow:hidden;
}
.mp-stacks-grid-item-image-overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: block;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9999999;
}
.mp-stacks-grid-over-image-text-container,
.mp-stacks-grid-over-image-text-container-top,
.mp-stacks-grid-over-image-text-container-middle,
.mp-stacks-grid-over-image-text-container-bottom{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	display:block;	
	overflow:hidden;
	z-index: 99999999;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.mp-stacks-grid-over-image-text-container-top .mp-stacks-grid-over-image-text-container-table-cell{
	display:table-cell;
	vertical-align:top;	
	width:100%;
}
.mp-stacks-grid-over-image-text-container-middle .mp-stacks-grid-over-image-text-container-table-cell{
	display:table-cell;
	vertical-align:middle;	
	width:100%;
}
.mp-stacks-grid-over-image-text-container-bottom .mp-stacks-grid-over-image-text-container-table-cell{
	display:table-cell;
	vertical-align:bottom;	
	width:100%;
}
.mp-stacks-grid-over-image-text-container-table{
	display:table;
	width:100%;
	height:100%;
	position:relative;
}
.mp-stacks-grid-over-image-text-container-table-cell > *{
	width:100%;
}
.mp-stacks-grid-over-image-text-container-table-cell p{
	margin:0px;
}
.mp-stacks-grid-item-image{
	max-width:100%;	
	width:100%;	
}
.mp-stacks-grid-item-title-holder{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}
.mp-stacks-grid-item-title,
.mp-stacks-grid-item-excerpt{
	display: inline-block;
	text-decoration:none;
	position:relative;
}
.mp-stacks-grid-item-title-foreground,
.mp-stacks-grid-item-excerpt-foreground{
	display: inline-block;
	text-decoration:none;
	position:relative;
	z-index:9999;
}
.mp-stacks-grid-item-title-background,
.mp-stacks-grid-item-excerpt-background{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: block;
	overflow: hidden;
	z-index:999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mp-stacks-grid-item-title-highlight,
.mp-stacks-grid-item-excerpt-highlight,
.mp-stacks-grid-item-price-highlight{
	display: inline;
    padding-left: 0!important;
    padding-right: 0!important;	
}

.mp-stacks-grid-item-excerpt-holder, 
.mp-stacks-grid-item-excerpt-holder a{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */			
}
.mp-stacks-grid-item-excerpt-holder{
	display: inline-block;	
	padding-top:5px;
}
.mp-stacks-grid-item-clearedfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.mp-stacks-grid-item .mp-stacks-grid-item-image{
	padding:0px;
	margin:0px;	
}
.mp-brick[max-width~='600px'] .mp-stacks-grid .mp-stacks-grid-item{ 
	width:100%!important;
}
.mp-stacks-grid-load-more-button{
	margin:20px;	
}
.mp-stacks-grid-read-more{
	white-space: nowrap;	
}
.mp-stacks-grid-load-more-container #posts-navigation{
	margin:0px;
}

/* For Lightbox Popups that should fill the whole screen */
.mp-stacks-iframe-full-screen{
	z-index:9999999999999;
}
.mp-stacks-iframe-full-screen .mfp-content{
	width: 100%;
	height: 100%;
	max-width: 95%!important;
	max-height: 95%!important;
}

/* For Lightbox Popups that match the height of their content */
.mp-stacks-iframe-height-match .mfp-content{
	height:100%;
	max-width: 95%!important;
	max-height: 95%!important;
}

/* This compensates for the fitvids script which isn't needed, but some people might be using it */
.mp-brick .mp-core-oembed-full-width-div .fluid-width-video-wrapper{
	position:absolute!important;
	top:0!important;
	left:0!important;
	width: 100%!important;
	height: 100%!important;
}