/* Stylesheet for mp_stacks admin */

/*Top Level duplicate subpage Menu Button*/
#toplevel_page_mp-stacks-about .wp-first-item{
	display:none;
}

/*Hide Add Stack button for text content type tinymce */
.postbox[id^="mp_stacks"] .mp_stack-thickbox{
	display:none;	
}
/*hide slug div*/
.post-type-mp_brick #normal-sortables,
.post-type-mp_brick #edit-slug-box{
	display:none;	
}

/*Shortcode edit buttons*/
#mp_stack_btns{
	padding: 2px;
	position: absolute;
	display: none;
	z-index: 155000;	
}
.mp_field.mp_brick_text_option{
	width:250px;
	display: inline-block;
	float:left;
	margin-right:20px;
	border:none;
}
.mp_field.mp_field_brick_text_line_1,
.mp_field.mp_field_brick_text_line_2{
	clear:both;	
}
.mp_field.mp_field_brick_text_line_1{
	margin-bottom:30px;	
}

#mp_stack-media-button:before{
	background-size: 20px;
	background-position-y: 6px;
}

/*Hide slug, parent and description on Stacks manage page - may be a hook to do this better but for now:*/
.taxonomy-mp_stacks #addtag .form-field,
.taxonomy-mp_stacks #addtag .form-required p{
	display:none;
}
.taxonomy-mp_stacks #addtag .form-required{
	display:block;
}

/* Alignment Icons for Content Types on Metabox Page */
.mp-core-radio-element{
	display:inline-block;
	float:left;
	margin-right:20px;
}
.mp-core-radio-description{
	clear:both;	
	display:inline-block;
}
#mp_stacks_content_metabox .mp_field_brick_alignment{
	display:inline-block;
}
.mp_field_brick_alignment .mp-core-radio-description img{
	margin-right:4px;	
	float:left;
}
/*Shortcode insert designs*/
.mp-stacks-shortcode-choose-action{
	width:100%;
	height: 250px;
	display:table;	
}
/*Make new stack button area*/
.mp-stacks-shortcode-choose-action .mp-stacks-shortcode-action-choice{
	display:table-cell;
	width:50%;
	vertical-align:middle;	
	text-align:center;
	cursor:pointer;
}
.mp-stacks-shortcode-action-choice.new-stack{
	background-color:#2ecc71;
}
.mp-stacks-shortcode-action-choice.new-stack:hover{
	background-color:#36e27f;
}
.mp-stacks-new-stack-action-icon{
	display: inline-block;
	vertical-align: top;
}
.mp-stacks-new-stack-action-icon:before{
	display:inline-block;
	font-family: dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f339";
	font-size:100px;
	line-height:100px;
}
/*Use Existing Stack button area*/
.mp-stacks-shortcode-choose-action .mp-stacks-shortcode-action-choice{
	display:table-cell;
	width:50%;
	vertical-align:middle;	
	text-align:center;
	color:#fff;
}
.mp-stacks-shortcode-action-choice.existing-stack{
	background-color:#3498db;
}
.mp-stacks-shortcode-action-choice.existing-stack:hover{
	background-color:#3bacf7;
}
.mp-stacks-existing-stack-action-icon{
	display: inline-block;
	vertical-align: top;
}
.mp-stacks-existing-stack-action-icon:before{
	display:inline-block;
	font-family: dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f322";
	font-size:100px;
	line-height:100px;
}
/*hide the options which will be shown by javascript after user selection*/
.mp-stacks-shortcode-new-stack-div,
.mp-stacks-shortcode-existing-stack-div,
.duplicate-stack-option,
.template-stack-option{
	display:none;	
}
.mp-stacks-shortcode-option{
	margin-bottom:20px;	
}

.mp_stack_successful{
	background-color:#9AFF99;
	color:#000;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:25px;	
}
.mp-stacks-successful-image,
.mp-stacks-successful-text{
	display:table-cell;
	vertical-align:middle;	
	font-weight: 600;
}
.mp_stack_successful .mp-stacks-icon-250{
	width:30px;	
	margin-right: 10px;
}
.mp-stacks-new-stack-input{
	margin-right:10px;
	width:200px;
}
.mp-stacks-new-stack-button:before{
	font-family: dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f107";
	margin-right:5px;
}

/**
 * Sortable Posts Style
 * http://moveplugins.com
 */
.column-mp_stack_order{
	width:0px;
}
.menu-order-drag-button {
	padding:6px 0px 6px 0px;
	position:absolute;
	left:3px;
	cursor:move!important;
	opacity:0;
}
.hentry:hover .menu-order-drag-button {
	opacity:1;
}
#posts-filter .check-column{
	padding-left:4px;	
}