/* Stylesheet for mp_stacks admin */

/* Hide Media Button  */
#wp-mp_core_wp_editor_brick_text_line_1-media-buttons a,
#wp-mp_core_wp_editor_brick_text_line_2-media-buttons a{
	/*display:none;	*/
}

/*Show Add Media Button though */
#mp-brick_text_line_1-media-buttons #insert-media-button,
#mp-brick_text_line_2-media-buttons #insert-media-button{
	display:inline-block;	
}
/*hide slug div*/
.post-type-mp_brick #normal-sortables,
.post-type-mp_brick #edit-slug-box{
	display:none;	
}

/*Shortcode edit buttons*/
#mp_stack_btns{
	padding: 2px;
	position: absolute;
	display: none;
	z-index: 155000;	
}
.mp_field.mp_field_brick_line_1_color,
.mp_field.mp_field_brick_line_1_font_size,
.mp_field.mp_field_brick_line_2_color,
.mp_field.mp_field_brick_line_2_font_size{
	width:250px;
	display: inline-block;
	float:left;
	margin-right:20px;
	border:none;
}
.mp_field.mp_field_brick_text_line_1,
.mp_field.mp_field_brick_text_line_2{
	clear:both;	
}
.mp_field.mp_field_brick_text_line_1{
	margin-bottom:30px;	
}

#mp_stack-media-button:before{
	font: 400 18px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f214";	
}
.mp-stacks-new-stack-button:before{
	font-family: dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f214";	
	margin-right:5px;
}

/*Hide slug, parent and description on Stacks manage page - may be a hook to do this better but for now:*/
.taxonomy-mp_stacks #addtag .form-field,
.taxonomy-mp_stacks #addtag .form-required p{
	display:none;
}
.taxonomy-mp_stacks #addtag .form-required{
	display:block;
}

/* Alignment Icons for Content Types on Metabox Page */
.mp-core-radio-element{
	display:inline-block;
	float:left;
	margin-right:20px;
}
.mp-core-radio-description{
	clear:both;	
	display:inline-block;
}
#mp_stacks_content_metabox .mp_field_brick_alignment{
	display:inline-block;
}
.mp_field_brick_alignment .mp-core-radio-description img{
	margin-right:4px;	
	float:left;
}

/**
 * Sortable Posts Style
 * http://moveplugins.com
 */
.column-mp_stack_order{
	width:0px;
}
.menu-order-drag-button {
	padding:6px 0px 6px 0px;
	position:absolute;
	left:3px;
	cursor:move!important;
	opacity:0;
}
.hentry:hover .menu-order-drag-button {
	opacity:1;
}
#posts-filter .check-column{
	padding-left:4px;	
}