/* Stylesheet for mp_stacks shortcode */

#mp_stack .mp_stack{
	width: 100%; 
	display:table;
	background-size:100%;
	background-position:50%; 
}
#mp_stack .mp_stack_inner{
	display:table-cell; 
	vertical-align:middle;
	z-index:2;
	width: 37%; 
}
#mp_stack .mp_stack_centered{
	text-align:center;
	width:100%;	
}
#mp_stack .mp_stack h2{
	margin:0px;	
}
#mp_stack .mp_stack .mp_stack_inner iframe{
	margin:0;
}

/* Left and right sides */
#mp_stack .mp_stack_left, #mp_stack .mp_stack_right {
	z-index:2;
}

#mp_stack .mp_stack_left .text{
	margin:0 10% 0 10%;	
	float:right;
}
#mp_stack .mp_stack_right .text{
	margin:0 10% 0 10%;	
	float:left;
}

/*Image*/
#mp_stack .mp_stack .mp_stack_main_image{
	vertical-align: bottom;
	box-shadow:none;
	border-radius:0;
	max-width:100%;
}
#mp_stack .mp_stack_main_link{
	display:inline-block;	
}

#mp_stack .margin-twenty{
	margin:20px;	
}